---
---

@import "minima";

.site-header {
    height: 100px;
    
    background-image: url('/assets/images/hero.jpg'); /* Update the path to your image */
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    background-repeat: no-repeat;

    border-bottom: 2px solid grey;    
}

.site-title {
    font-size: 2em;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically center the elements */
}

.github-icon {
    display: inline-block;
    width: 35px; /* Adjust the width as needed */
    height: 35px; /* Adjust the height as needed */
    margin-right:3px;
}

.site-footer {
    display: none;
}

body {
    background-color: #d47550a4; /* Replace with your desired background color */
  }

.language-plaintext.highlighter-rouge {
    background-color: transparent; /* Change to the background color you want */
    /* Add any other custom styles here */
}